body {
  overflow-x: hidden;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.Row {
  padding: 4px 0px 4px 0px;
  font-size: 14px;
  border-bottom: solid 1px #ccc;
  text-align: left;
}
.Header {
  font-weight: bold;
  border-bottom: solid 2px #ccc;
  text-transform: uppercase;
  padding: 8px 0px 8px 0px;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

